.footer {
  background-color: $background-footer;
  padding-top: 3rem;
  padding-bottom: 3rem;
  &__container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
  }
  &__logo {
    width: 20rem;
    margin: 0 auto 4rem auto;
  }
}