.testimonios {
  background-color: $primary-color;
  padding-top: 5rem;
  padding-bottom: 5rem;
  &__container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
  }
  &__title {
    color: $secondary-color;
    text-align: center;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}