.list {
  &__container {
    background-color: $secondary-color;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.20);
    padding: 2rem;
    margin-bottom: 5rem;
    transition-property: transform;
    transition-duration: .3s;
    &--column {
      margin-right: 3rem;
      margin-left: 3rem;
    }
  }
  &__stat {
    display: block;
    color: $primary-color;
    margin: 0;
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
  }
  &__title {
    color: $primary-color;
    margin: 0;
    font-size: 2.5rem;
  }
  &__paragraph {
    margin: 0;
    font-size: 1.5rem;
  }
}